.page-header {
  width: 100%;
  padding: 25px 0 55px;
  background-color: #181a1b;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #fff;
}

.page-header__name {
  width: auto;
  margin: 0;
  padding: 0 145px;
  font-weight: 900;
  font-size: 58px;
  line-height: 64px;
  color: #fff;
}
